.footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.top {
    display: flex;
    justify-content: right;
    padding: 1em;
    gap: 1em;
    margin: 0 1em;
}

.icon {
    font-size: 25px;
}

.logo-bottom {
    margin: 0 2em;
}

.top .icon:hover {
    transform: translateY(-5px);
    color: var(--accent-color);
    transition: 1s;
    cursor: pointer;
}

.mid {
    justify-content: space-between;
    display: flex;
}

.mid nav {
    justify-content: space-between;
}

.mid nav ul li a:hover {
    color: var(--accent-color);
    transition: 1s;
}

.bottom {
    text-align: center;
    padding: 10px 0;
}

.bottom p {
    font-size: 15px;
}

.link {
    color: var(--accent-color);
}

.ct-info {
    margin-right: 2em;
    margin-top: 1em;
    cursor: pointer;
}


a.ct-l {
    color: white;
    text-decoration: none;
}

.ct-info-align {
    display: flex;
    justify-content: right;
    gap: 0.5em;
}

.ct-info-align p {
    font-size: 18px;
}