.contact-head h1 {
  font-size: var(--font-size-h1);
  color: var(--secondary-color);
  text-align: center;
}

/* .contact-2nd, */
.contact-1st {
  display: flex;
  justify-content: space-between;
  margin: 5em 0;
}

/* .col-1 h1 {
  font-size: var(--font-size-h1);
} */

.contact-det h1 {
  font-size: var(--font-size-h1);
}

.contact-det a {
  font-size: var(--font-size-body);
}

.content {
  margin: 3em 0;
}

.content a {
  color: black;
}

.content a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--accent-color);
}

.google-m-container {
  background-color: var(--secondary-color);
  border-radius: 1em;
}

.icons {
  font-size: var(--font-size-label);
  color: var(--accent-color);
}
