.info-banner {
    display: flex;
    justify-content: space-between;
    margin: 10em 0;
    gap: 2em;
}

.blue {
    background-color: var( --primary-color);
    color: var(--secondary-color);
    padding: 3em 5em;
    height: 15.5em;
    width: 47em;
    border-radius: 1em;
}

.blue p {
    font-size: var(--font-size-body);
}

.banner-img img {
    border-radius: 1em;
    width: 90%;
    
}

.blue button {
    padding: 0.5em 2em;
    border-radius: 1em;
    background-color: var( --accent-color);
    color: var(--secondary-color);
    margin: 1em 0;
    font-size: var(--font-size-body);
    border: var(--secondary-color);
}