.info-banner {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 5em 3em;
  gap: 2em;
}

.blue {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0em 2em;
  flex: 1;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  color: white;
}

.blue p {
  font-size: var(--font-size-body);
}

.banner-img {
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.banner-img img {
  width: 20em;
  height: 100%;
  object-fit: cover;
  border-radius: 1em;
}

.blue button {
  padding: 0.5em 2em;
  border-radius: 1em;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  margin: 1em 0 0;
  font-size: var(--font-size-body);
  border: var(--secondary-color);
  color: white;
}
